@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section styles {
    <link rel="stylesheet" href="~/css/Chatbox.css" />
}


<div class="chatContainer">
    <div class="row">
        <div class="chatbox-border">
            <div class="chatbox-header"> Global Chat</div>
            <div class="chatbox">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User<input type="text" id="userInput" />
            <br />
            Message<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    @{
        if (!Model.ButtonPressed)
        {
            <div class="login">
                <p class="lead">Simpl Mobile Group members can login to use the chat above</p>
                <p class="lead">
                    <button class="btn btn-lg btn-default" data-toggle="modal" data-target=".loginModal">Login</button>
                </p>
            </div>

        }
    }

</div>

<form method="post">
    <fieldset>
        <input asp-for="Email" placeholder="user name" />


        <br />

        <input asp-for="Password" type="password" placeholder="password" />
        @*<span asp-validation-for="Password" class="text-danger"></span>*@

        <br />

        <input type="submit" value="Submit" asp-page-handler="Login" />
    </fieldset>
</form>
@*popup login*@
<form method="post" style="display:inline-block">
    <div id="loginPopup" class="modal loginModal table-responsive" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 style="color:black">Login</h2>
                </div>
                <div class="modal-body">
                    <label for="username" style="color:black">Email: </label>
                    <input type="email" asp-for="Email" formmethod="post" class="form-control" placeholder="Enter email" />
                    <label for="password" style="color:black">Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" asp-page-handler="Login">Submit</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>




@*<!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
    <!-- Add additional services that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-functions.js"></script>

    <script src="~/js/Firebase.js"></script>*@
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script type="text/javascript">
//any javascript for this page here
</script>